* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.515);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* ****************************** */
/* GENERAL COMPONENTS */
/* ****************************** */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid-center-vert {
  align-items: center;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
}
.btn-cta:link,
.btn-cta:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn-cta:hover,
.btn-cta:active {
  background-color: #cf711f;
}
.margin-cta {
  margin-right: 1.6rem !important;
}
.btn-ncta:link,
.btn-ncta:visited {
  background-color: white;
  color: #555;
}
.btn-ncta:hover,
.btn-ncta:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px white;
}
.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  text-transform: uppercase;
}
.btn-form:hover {
  background-color: #fff;
  color: #45260a;
}

.secondary-heading,
.primary-heading {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center {
  text-align: center;
}

/* ****************************** */
/* HEADER */
/* ****************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 2.2rem;
}

/* ****************************** */
/* NAVIGATION */
/* ****************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;

  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav [name="close-outline"] {
  display: none;
}
