/* BELOw 1344px(Smaller Desktops) */
/* 1em =1rem = 16px */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .primary-heading {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Below 1200px (Landscape tablets) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .secondary-heading {
    font-size: 3.6rem;
  }
  .tertiary-heading {
    font-size: 2.4rem;
  }
}
